@(form: Form[Product])

@import b3.vertical.fieldConstructor

@main("Product Management") {
    @b3.form(routes.ProductController.saveNewProduct){
        <h1>Product Management</h1>
        @b3.text(form("title"), '_label -> "Title")
        @b3.text(form("code"), '_label -> "Code")
        @b3.text(form("type"), '_label -> "Type")
        @b3.textarea(form("description"), '_label -> "Description")
        @b3.number(form("price"), '_label -> "Price")
        @b3.submit('class -> "btn btn-primary") { New Product }
    }
}
